// --- colors --- 
$body-color : #FFFFFF;
$text-color :#fefefe;
$secondary-text-color :#000000;
$text-color-hover :darken($text-color, 80%);
$primary-color : #ffcb05;
$secondary-color : #0077B6;
$nav-bar-scroll: #000000cf;
$font-color : #EEE;
$link-color : #EEE;
$link-hover-color : #c9bdbb;
$footer-color: #E7ECEF;
$link-footer-color : #070707;
$link-footer-hover-color : #7e7b7b;
$card-color : #f0ededfe;
$card-button :#ffffff;
$card-button-hover :#2f7edc;

// -----<<<<< Registration Var >>>>>------

$form-color: #ffffff;
$form-text-color: $secondary-color;
$input-color: #0000000d;
$input-hover-color: #0000001a;
$outline-hover-color: #2275e9;

// -----<<<<<------------------->>>>>------

$login-color :#fefefe;



// --- font ---
$font-family :'Tajawal',
sans-serif;
// red    EF233C   780000   ff002b
// blue   6096BA   274C77   0077B6   274C77  00509D   118ab2  1a659e
// white  E7ECEF   E7ECEF
// #1f1f1f  body color

//  #219EBC   #EF476F  #2EC4B6  #D81159  #218380  #00B4D8  #118AB2

// text #073B4C